@model CarPoolLibrary.Models.UserWithRole

@{
    ViewData["Title"] = "Delete User?";
}

<link rel="stylesheet" href="_content/Radzen.Blazor/css/material-base.css">

<h1>@ViewData["Title"]</h1>

<div class="my-4">
    <dl class="row">
        <dt class="col-sm-2">
            @* @Html.DisplayNameFor(model => model.Roles) *@
            Role
        </dt>
        <dd class="col-sm-10">
            @foreach (var role in Model.Roles)
            {
                <div>@role</div>
            }
        </dd>
        <dt class="col-sm-2">
            @* @Html.DisplayNameFor(model => model.User!.UserName) *@
            User
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User!.UserName)
        </dd>
    </dl>
    
    <form asp-action="DeleteConfirmed" asp-route-id="@Model.User!.Id" method="post">
        <component type="typeof(RolesButtonsDeleteAndCancel)" render-mode="ServerPrerendered" />
    </form>
</div>
