@model CarPoolLibrary.Models.Trip

@{
    ViewData["Title"] = "Trip Details";
}

<h1>@ViewData["Title"]</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TripId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TripId)
        </dd>
                <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VehicleId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VehicleId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Time)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Time)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Destination)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Destination)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MeetingAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MeetingAddress)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-tripId="@Model.TripId" asp-route-vehicleId="@Model.VehicleId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
