@model IEnumerable<CarPoolLibrary.Models.Trip>

@{
    ViewData["Title"] = "Trips";
}

<link rel="stylesheet" href="_content/Radzen.Blazor/css/material-base.css">

<h1>@ViewData["Title"]</h1>

<component type="typeof(TripsButtonsCreate)" render-mode="ServerPrerendered" />

<table class="table">
    <thead>
        <tr>
            <th>
                Trip ID
            </th>
            <th>
                Vehicle ID
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Time)
            </th>
            <th>
                Destination Address
            </th>
            <th>
                Meeting Address
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TripId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VehicleId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Destination)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MeetingAddress)
            </td>
            <td>
                <a asp-action="Edit" asp-route-tripId="@item.TripId" asp-route-vehicleId="@item.VehicleId">Edit</a> |
                <a asp-action="Details" asp-route-tripId="@item.TripId" asp-route-vehicleId="@item.VehicleId">Details</a> |
                <a asp-action="Delete" asp-route-tripId="@item.TripId" asp-route-vehicleId="@item.VehicleId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
