@model IEnumerable<CarPoolLibrary.Models.Trip>

@{
    ViewData["Title"] = "Index";
}

<h1>Trips</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TripId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VehicleId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Time)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Destination)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MeetingAddress)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TripId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VehicleId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Destination)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MeetingAddress)
            </td>
            <td>
                <a asp-action="Edit" asp-route-tripId="@item.TripId" asp-route-vehicleId="@item.VehicleId">Edit</a> |
                <a asp-action="Details" asp-route-tripId="@item.TripId" asp-route-vehicleId="@item.VehicleId">Details</a> |
                <a asp-action="Delete" asp-route-tripId="@item.TripId" asp-route-vehicleId="@item.VehicleId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
