@model IEnumerable<CarPoolLibrary.Models.Manifest>

@{
    ViewData["Title"] = "Manifests";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Manifest ID
            </th>
            <th>
                Member ID
            </th>
            <th>
                Trip ID
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Notes)
            </th>
            <th>
                Member Email
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ManifestId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MemberId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TripId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Member!.Email)
            </td>
            <td>
                <a asp-action="Edit" asp-route-manifestId="@item.ManifestId" asp-route-memberId="@item.MemberId">Edit</a> |
                <a asp-action="Details" asp-route-manifestId="@item.ManifestId" asp-route-memberId="@item.MemberId">Details</a> |
                <a asp-action="Delete" asp-route-manifestId="@item.ManifestId" asp-route-memberId="@item.MemberId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
